body{
	overflow: hidden;
	margin: 0px;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input{
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

canvas{
	position: absolute;
	top: 0px;
}

#webExplorer3D >canvas {
 	width: 100%;
  	height: 100%
}

#centralBar{
	position: absolute;
	top:0px;
	width: 50px;
	height: 100%;
	background-image: linear-gradient(#56888691,gray);
	z-index: 3;
	cursor: col-resize;
}

.centralBar-button{
	margin:2px;
	width: 43%;
    height: 50px;
    position: absolute;
    background-image: linear-gradient(black,#568886);
    cursor: pointer;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  	transform: translateY(-50%);
  	border-radius: 10px;
}

.centralBar-button:hover{
	background-image: linear-gradient(#568886,black);
}

#input{
	display: none;
}

#selected-container{
    z-index: 2;
    position: absolute;
    /*display: none;*/
    height: 100%;
    top:0px;
    left:0px;
    /*margin: 2%;*/
}

.blocker{
	position: absolute;
	/*background-color: rgba(255, 0, 0, 0.5);*/
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.button{
	width: 25px;
	height: 50px;
	background: green;
	cursor: pointer;
}

/*html container*/
.html-container{
	color: white;
    overflow-y: scroll;
    padding: 50px;
    font-size: x-large;
    width: calc(100% - 130px);
    height: calc(100% - 150px);
}

.html-container a{
	color: white;
}

.html-container iframe{
	height: 80%;
	width: 100%;
}

.html-video{
	height: 400px !important;
}

.html-container img{
	width: 100%;
}

/*Link*/
.link-iframe{
	width: 96%;
    height: 5%;
    display: inherit;
    color: white;
    font-size: 2em;
    text-align: -webkit-center;
    text-decoration:none;
}

/*iframe*/
iframe{
	display: block;
	height: 90%;
	width: calc(100% - 50px);
}

/*loading screen*/
.loading-screen{
	width: 100%;
    height: 100%;
    opacity: 0.5;
    /*background: #568886;*/
    background-image: linear-gradient(#568886, gray);
    z-index: 100;
    position: absolute;
    text-align: center;
    padding-top: 27%;
    top: 0px;
}

.loading-label{
    font-size: -webkit-xxx-large;
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-roll{
	width: 100px;
	margin:50px;
	animation-duration: 3s;
	animation-name: Rotate;
	animation-iteration-count: infinite;
}

.exit-button{
	width:50px;
	cursor:pointer;
	display: none;
	position: absolute;
}

.right-button{
	width:50px;
	position: absolute;

	right:0px;
	cursor: pointer;
	z-index: 10;
}

@keyframes Display {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes Hide {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.help-img{
	animation-duration: 0.5s;
    z-index: 4;
    position: absolute;
    width:100%;
    height:100%;
}

.display{
	animation-duration: 1s;
	animation-name: Display;
	animation-fill-mode:forwards;
}

.hide{
	animation-duration: 1s;
	animation-name: Hide;
	animation-fill-mode:forwards;
}

.home-button{
	width:50px;
	position: absolute;
	bottom: 0px;
	right:0px;
	cursor: pointer;
	z-index: 10;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #568886;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #99B7B6;
}

.css3d{
	transform-origin: 0 0;
	background: red;
	position: absolute;
}

.debug{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}