body{
	/*cursor: none;*/
	overflow: hidden;
	margin: 0px;
}

canvas{
	position: absolute;
	top: 0px;
}

#webExplorer3D >canvas {
 	width: 100%;
  	height: 100%
}

#centralBar{
	position: absolute;
	top:0px;
	width: 50px;
	height: 100%;
	background: gray;
	z-index: 3;
}

.centralBar-button{
	width: 43%;
    height: 50px;
    position: absolute;
    background: red;
    cursor: pointer;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  	transform: translateY(-50%);
  	border: solid 1px;
}

#input{
	display: none;
}

#selected-container{
    z-index: 2;
    position: absolute;
    /*display: none;*/
    height: 100%;
    top:0px;
    left:0px;
    /*margin: 2%;*/
}

.blocker{
	position: absolute;
	/*background-color: rgba(255, 0, 0, 0.5);*/
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.button{
	width: 50px;
	height: 50px;
	background: red;
	cursor: pointer;
}

/*html container*/
.html-container{
	color: white;
    overflow-y: scroll;
    padding: 50px;
    height: 90%;
    font-size: x-large;
}

.html-container a{
	color: white;
}

/*Link*/
.link-iframe{
	width: 96%;
    height: 5%;
    display: inherit;
    color: white;
    font-size: 2em;
    text-align: -webkit-center;
    text-decoration:none;
}

/*Link*/
#selected-container iframe{
	width: 98%;
    height: 90%;
}

/*iframe*/
iframe{
	height: 90%;
}

/*loading screen*/
.loading-screen{
	width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #56888691;
    z-index: 100;
    position: absolute;
    text-align: center;
    padding-top: 27%;
    top: 0px;
}

.loading-label{
    font-size: -webkit-xxx-large;
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-roll{
	width: 100px;
	margin:50px;
	animation-duration: 3s;
	animation-name: Rotate;
	animation-iteration-count: infinite;
}

.exit-button{
	width:50px;
	cursor:pointer;
}

.help-button{
	width:50px;
	position: absolute;
	top: 0px;
	right:0px;
	cursor: help;
	z-index: 10;
}

@keyframes Display {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes Hide {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.help-img{
	animation-duration: 0.5s;
    z-index: 4;
    position: absolute;
    width:100%;
    height:100%;
}

.display{
	animation-duration: 1s;
	animation-name: Display;
	animation-fill-mode:forwards;
}

.hide{
	animation-duration: 1s;
	animation-name: Hide;
	animation-fill-mode:forwards;
}

.home-button{
	width:50px;
	position: absolute;
	bottom: 0px;
	right:0px;
	cursor: pointer;
	z-index: 10;
}